In [4]:
import pandas as pd
df = pd.read_excel("./pro.xlsx")

In [5]:
df = df.iloc[0:18]
df

                 Name       Rank    Location Priority Location Home Location
0   Shri Naresh Chand       S.I.       Noida        Sector-128      Bathinda
1         Kishori Lal  Constable       Noida        Sector-128     Ahemdabad
2              Neelam  Constable       Noida        Sector-128     Shahjanpr
3        Rakesh Kumar       S.I.  Chandigarh       Elante mall       Aligarh
4              Mahesh  Constable  Chandigarh       Elante mall        Kanpur
5             Kuldeep  Constable  Chandigarh       Elante mall         Bihar
6         Rohit Kumar       S.I.       Delhi      Lajpat Nagar       Gujarat
7         Anuj Sharma  Constable       Delhi      Lajpat Nagar     Jharkhand
8               vijay  Constable       Delhi      Lajpat Nagar    Tamil Nadu
9         Deepa Malik       S.I.       Noida         Sector-62        Mohali
10              Parul  Constable       Noida         Sector-62       Rajpura
11        Ashok Kumar  Constable       Noida         Sector-62      Bathinda
12       Dinesh Kumar       S.I.    Ludhiana     Hardy's World       Patiala
13            Archana  Constable    Ludhiana     Hardy's World        Shimla
14         Vikas Rana  Constable    Ludhiana     Hardy's World          Moga
15      Anjali Tiwari       S.I.       Noida         Sector-18       Gwalior
16      Sandeep Kumar  Constable       Noida         Sector-18       Mathura
17              Rajat  Constable       Noida         Sector-18     Bharatpur

In [6]:
df1 = df.groupby(["Priority Location"])["Priority Location"].count()
dfindex = (df1.T).index
dfindex

Index(['Elante mall', 'Hardy's World', 'Lajpat Nagar', 'Sector-128',
       'Sector-18', 'Sector-62'],
      dtype='object', name='Priority Location')

In [7]:
dfsi = df[(df["Rank"]== "S.I.")]
dfsi

                 Name  Rank    Location Priority Location Home Location
0   Shri Naresh Chand  S.I.       Noida        Sector-128      Bathinda
3        Rakesh Kumar  S.I.  Chandigarh       Elante mall       Aligarh
6         Rohit Kumar  S.I.       Delhi      Lajpat Nagar       Gujarat
9         Deepa Malik  S.I.       Noida         Sector-62        Mohali
12       Dinesh Kumar  S.I.    Ludhiana     Hardy's World       Patiala
15      Anjali Tiwari  S.I.       Noida         Sector-18       Gwalior

In [8]:


dfs = dfsi["Name"]
dfs = dfs.to_list()
dfs

['Shri Naresh Chand',
 'Rakesh Kumar',
 'Rohit Kumar',
 'Deepa Malik',
 'Dinesh Kumar',
 'Anjali Tiwari']

In [11]:
loc = df.groupby(["Location"])["Location"].count().to_dict()
locS = {}
for i in loc.keys():
    nme = i
    dfc = df[(df["Location"]==i) & (df["Rank"]=="S.I.")]
    val = dfc.shape[0]
    locS[nme]= val 

locS

{'Chandigarh': 1, 'Delhi': 1, 'Ludhiana': 1, 'Noida': 3}

In [51]:
from queue import Empty
import string
from geopy.geocoders import Nominatim #to get the cordinates
from geopy import distance # to get the distance b/w the location
geocoder = Nominatim(user_agent="i known the python")


for i  in locS.keys():
    c = string
    c =i
    cordi = geocoder.geocode(c)
    lonlat.append((cordi.latitude,cordi.longitude))

print(lonlat)

AttributeError: type object 'Empty' has no attribute 'append'